@import '../../sass/variables.scss';

.chart {
    padding-bottom: 10px;

    .price {
        padding-top: 10px;
        .prices {
            color: $green;
            font-weight: bold;
            font-size: 20px;
    
            .price-values {
                color: $black;
                font-weight: 400;
            }
        }
    }

    
}